# R-specific
renv/library/
.Rproj.user
.Rhistory
.RData
.Ruserdata
renc.lock
renv
geomodelierung.Rproj

#vscode
.vscode/

# Output files (regenerated)
outputs/
*.pdf
*.csv
*_cache/
*_files/

# OS-specific
.DS_Store
Thumbs.db
*~
._*

# Quarto
index.qmd
/.quarto/
**/*.quarto_ipynb
